body {
    width: 100%;
    height: 100vh;
}

.contenedor-cajas {
    font-family: 'Kaushan Script', cursive;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.caja {
    width: 300px;
    height: 400px;
    border-radius: 50px;
    position: relative;
    border-radius: 10px;
    border: 0.1px solid rgb(229, 181, 112);
    margin: 25px 70px 25px 70px;
}

/*  */
.imagen-caja {
    position: absolute;
    border-radius: 10px 10px 0px 0px;
    width: 100%;
    height: 100%;
}

/*  */
.caja-items {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

.titulo-caja {
    font-family: 'Kaushan Script', cursive;
    color: white;
    text-shadow: 3px 3px black;
}

.descripcion-caja {
    font-family: 'Kaushan Script', cursive;
    font-size: 25px;
    text-shadow: 3px 3px black;
    color: white;
}

.boton-caja {
    width: 100px;
    color: black;
    text-align: center;
    text-decoration: none;
    box-shadow: 3px 3px black;
    background-color: white;
    border: none;
    border-radius: 20px;
}

.boton-caja:hover {
    width: 95px;
    color: white;
    background-color: rgba(94, 97, 97, 0.7);
}

.footer-principal {
    width: 100%;
    height: 7%;
    background: black;
}