/* Agregar evento css */
.contenedor-evento-cliente {
    width: 100%;
    height: 100vh;
    display: flex;
    background-color: #e0e1e1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contenedor-evento-cliente form {
    width: 50%;
    flex-direction: column;
    background-color: #d0d1d3;
    margin: 0 auto;
    align-items: center;
    margin-top: 20px;
}

.contenedor-evento-cliente header {
    background-color: #363434;
    width: 50%;
    height: 80px;
    color: white;
    text-align: center;
}

.contenedor-evento-cliente header h1 {
    display: inline-block;
    padding: 22px;
}

.contenedor-evento-cliente div {
    margin: 20px;
    width: 90%;
}

.contenedor-evento-cliente label {
    display: block;
    margin-bottom: 5px;
}

.contenedor-evento-cliente input {
    display: block;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 10px;
}

.contenedor-evento-cliente button {
    background-color: #393a3b;
    color: #fff;
    border: none;
    padding: 10px 20px;
    width: 100%;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.contenedor-evento-cliente button:hover {
    background-color: #444546;
}