/* Aregar usuario css */
.titulo-formulario-usuario {
    text-align: center;
    color: #333;
    margin-bottom: 30px;
}

.form-formulario-usuario {
    background-color: #FFF;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.form-formulario-usuario label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

.form-formulario-usuario input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #DDD;
    margin-bottom: 20px;
    box-sizing: border-box;
    font-size: 16px;
}

.form-formulario-usuario button {
    background-color: #008CBA;
    color: #FFF;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-right: 10px;
    margin-bottom: 20px;
}

.form-formulario-usuario button:hover {
    background-color: #005F6B;
}

.form-formulario-usuario button[type="submit"] {
    background-color: #4CAF50;
    margin-right: 0;
}

.form-formulario-usuario button[type="submit"]:hover {
    background-color: #357a38;
}


/* Lista de paquetes css */

.lista-paquetes {
    margin: 0 auto;
    max-width: 1300px;
    padding: 20px;
}

.lista-paquetes .header {
    background-color: #333;
    color: #FFF;
    padding: 20px;
    text-align: center;
}

.lista-paquetes .paquetes {
    background-color: #FFF;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    margin-top: 20px;
    overflow-y: auto;
    max-height: 400px;
    padding: 20px;
}

.lista-paquetes .paquete {
    display: flex;
    border-bottom: 1px solid #dbd9d9;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.lista-paquetes .descripcion {
    width: 100%;
    padding-left: 30px;
}

.lista-paquetes .items {
    display: flex;
}

.lista-paquetes p {
    padding-left: 10px;
}

.lista-paquetes .opciones {
    text-align: end;
}

.edit {
    color: rgb(74, 208, 74);
}

.delete{
    color: red;
}